* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-family: 'Vujahday Script', cursive;
}

@font-face {
    font-family: Proto-Sans-32;
    src: url('./fonts/proto-sans-32.otf');
}

@font-face {
    font-family: Stereonic-XS;
    src: url('./fonts/Mint\ Type\ -\ Stereonic-XS.otf');
}

@font-face {
    font-family: 'Vujahday Script';
    src: url('./fonts/VujahdayScript-Regular.ttf');
}
body {
    min-height: 100%;
    background: linear-gradient(to right, #242582, #5959e3);
    color: #fff;
    text-shadow: 0 0 0.05vw #fff, 0 0 0.1vw #fff, 0 0 0.3vw #fff, 0 0 0.8vw;
}

h1 {
    padding-top: 2rem;
    font-size: 5vw;
    margin: 0;
    text-align: center;
    letter-spacing: 3px;
}

main {
    padding: 2rem;
    display: flex;
    width: inherit;
    height: inherit;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.player,
.enemy {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.player-buttons {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.player > p,
.enemy > p {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.randomize,
.reset, .rules-button {
    font-family: 'Vujahday Script', cursive;
    color: #fff;
    text-shadow: 0 0 0.05vw #fff, 0 0 0.1vw #fff, 0 0 0.4vw #fff, 0 0 1vw;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #fff;
    box-shadow: 0 0 0.05rem #fff, 0 0 0.05rem #fff, 0 0 0.05rem #fff,
        0 0 0.05rem #fff, 0 0 0.5rem #fff, inset 0 0 0.5rem #fff;
    cursor: pointer;
    padding: 1.5rem 3rem;
    font-size: 2.5rem;
}
.rules-button {
    align-self: flex-start;
}
.rules {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 2rem;
    border-radius: 2rem;
    line-height: 1.5;
    font-family: sans-serif;
    font-size: 1.5rem;
    margin: 0 auto;
}
.rules li {
    text-shadow: none;
}
.list {
    display: none;
}
.player-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.randomize:hover,
.reset:hover {
    font-family: 'Vujahday Script', cursive;
    color: #88df6e;
    text-shadow: 0 0 0.05vw #88df6e, 0 0 0.1vw #88df6e, 0 0 0.4vw #88df6e,
        0 0 1vw;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #88df6e;
    box-shadow: 0 0 0.1rem #88df6e, 0 0 0.1rem #88df6e, 0 0 0.1rem #88df6e,
        0 0 0.1rem #88df6e, 0 0 1rem #88df6e, inset 0 0 1rem #88df6e;
}

.player-board,
.enemy-board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 3px;
}

.cell {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    border: 2px solid #f64c72;
    box-shadow: 0 0 0.05vw #f64c72, 0 0 0.05vw #fff, 0 0 0.05vw #f64c72,
        0 0 0.05rem #f64c72, 0 0 0.5rem #f64c72, inset 0 0 0.5rem #f64c72;
}

.cell:hover {
    background-color: rgb(221, 221, 221);
}

.cell.ship {
    background-color: #f64c72;
}

.ship {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    cursor: grab;
}

.cell.hit {
    background-color: #88df6e;
    border: 2px solid #88df6e;
    box-shadow: 0 0 0.05rem #88df6e, 0 0 0.05rem #fff, 0 0 0.05rem #88df6e,
        0 0 0.05rem #88df6e, 0 0 0.5rem #88df6e, inset 0 0 0.5rem #88df6e;
}

.cell.sunk {
    background-color: green;
}

.cell.miss {
    background-color: #ffffff54;
    border: 2px solid #ffffff54;
    box-shadow: 0 0 0.05rem #ffffff54, 0 0 0.05rem #fff, 0 0 0.05rem #ffffff54,
        0 0 0.05rem #ffffff54, 0 0 0.5rem #ffffff54, inset 0 0 0.5rem #ffffff54;
}

.cursor-disable {
    pointer-events: none;
    cursor: not-allowed;
}

.sunk::before {
    content: '';
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #6097d6;
    z-index: 1;
}
.not-available {
    background-color: #c42021;
}
.rotated {
    transition: 0.2s ease-in-out;
    flex-direction: column;
}

.ship:active {
    cursor: grabbing;
}
.ships {
    height: 17rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    border-radius: 40px;
}
.ships span {
    margin-top: 1rem;
}
.ship-container {
    position: absolute;
    background-color: #5959e3;
    height: inherit;
    width: inherit;
    border-radius: 8px;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
}
.ship.container span {
    cursor: default;
    justify-self: flex-start;
    color: #273547e7;
}
.sunk::after {
    content: '✕';
    color: white;
    font-size: 1.5em;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.sunk:active {
    cursor: not-allowed;
}
.sunk {
    position: relative;
    z-index: auto;
    border: none;
    cursor: default;
}
.modal {
    display: none;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    transition: 200ms ease-in-out;
}
.modal-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid green;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-color: white;
    align-items: center;
    transform: translateY(50%);
}

.gameover-button {
    padding: 1rem 2rem;
    margin: 0 auto;
    border-radius: 6px;
    border: 2px solid green;
    margin-top: auto;
    background-color: green;
    color: white;
}

.cell.dragging {
    opacity: 0.5;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer > a:nth-child(1) {
    font-size: 32px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

footer > a:nth-child(2) {
    font-size: 12px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

footer > a:hover {
    transition: all ease-in 0.5s;
    color: #08f51b;
}
.modal img {
    mix-blend-mode: multiply;
    width: 75%;
    filter: brightness(1.25);
    margin-top: 0.5rem;
    border-radius: 10px;
    border: 1px solid green;
    margin-bottom: 0.5rem;
}

@media(max-width: 1230px) {
    .cell {
        width: 2.5rem;
        height: 2.5rem;
    }
}
@media (max-width: 1080px) {
    .cell {
        width: 1.7rem;
        height: 1.7rem;
    }
    .player p, .enemy p {
        margin: 0;
    }
}

@media (max-width: 400px) {
    .cell {
        width: 1.5rem;
        height: 1.5rem;
    }
}

@media (max-width: 330px) {
    .cell {
        width: 1rem;
        height: 1rem;
    }
    body {
        padding: 0 1rem;
    }
    h1 {
        font-size: 2.5rem;
    }
    main {
        width: 100%;
    }
    .player-buttons {
        flex-wrap: wrap;
    }
    .rules {
        width: 90%;
        margin: 0 auto;
    }
    footer {
        display: none;
    }
}
